<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{ util/nav.html::navbar }"></div>

<form id="signupForm" action="/members/new" method="POST">
    <input name="username" placeholder="사용할 아이디를 입력하세요">
    <input name="password" placeholder="사용할 비밀번호를 입력하세요">
    <input name="confirm_password" placeholder="비밀번호를 재입력하세요">
    <input name="displayName" placeholder="닉네임을 입력하세요">
    <button type="button" th:onclick="isValid()">가입</button>
    <script >
        function isValid() {
            const form = document.getElementById('signupForm');
            const username = form.username.value;
            const password = form.password.value;
            const confirmPassword = form.confirm_password.value;

            if (!username || username.trim().length === 0){
                alert("올바르지 않은 사용자 아이디입니다");
                return;
            }

            // 비밀번호 일치 여부 확인
            if (password !== confirmPassword) {
                alert("비밀번호가 일치하지 않습니다.");
                return; // 검사를 통과하지 못하면 제출하지 않음
            }

            // 모든 검사를 통과하면 폼 제출
            form.submit();
        }
    </script>
</form>

</body>
</html>