<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{ util/nav.html::navbar }"></div>

<div class="card" th:each="item : ${items}">
  <div>
    <img src="https://placehold.co/300">
    <a th:href="@{'/items/detail/' + ${item.id}}">
      <h4 th:text="${item.title}">바지</h4>
      <h4 th:text="${item.price} + '원'">100억</h4>
    </a>
    <a th:href="@{'/items/update/' + ${item.id}}">✏️</a>
    <span th:onclick="deleteItem([[${item.id}]])">🗑️</span>
    <script >
      function deleteItem(itemId) {
        const url = '/items?id=' + itemId
        if (confirm('정말 삭제하시겠습니까?')){
          fetch(url, { method: 'DELETE' })
          .then(response => {
            if (response.ok){
              alert("삭제 완료");
              location.reload();
            } else {
              alert("삭제 실패")
            }
          })
        }
      }
    </script>

  </div>
</div>


</body>
</html>

